
.my-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  width: 500px;
  text-align: center;
  margin: 5rem auto;
  padding: 10px;
  border-radius: 8px;
 

}


.title{
  text-align: center;
}

.todo-add{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}


.form{
  display: flex;
  justify-content: space-between;
   width: 445px;
   gap: 10px;
}

.form input{
padding: 10px;
width: 100%;
border: 1px solid #eee;
border-radius: 6px;
outline: none;
}



.form button[type="submit"]{
  background-color: #64B5F6;
  color: #ffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
}

.todo-listItems{
width: 100%;
display: flex;
flex-direction: column;
margin-top: 20px;
}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  outline: none;
}

.todo-item button{
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  color: #ffff;
 
  
}



.update-item{
  background-color: #26A69A;
}

.delete-item{
  background-color: #F44336;
}
.item-content{
 width: 75%;
overflow: hidden;
word-wrap: break-word;
text-align: left;
  
}

.Update-item{
  display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}


.Update-item input{
  outline: none;
  width: 75%;
  border-radius: 6px;
  border: 1px solid #eeee;
  padding: 8px;
 
}

.btn-update{
  background-color: #EC407A;
}


@media screen and (max-width: 614px) {
  .my-box {
   width: 300px;  
  
  }
  .form{
        width: 300px;
  }
  .item-content{
    width: 50%;
  }
}